.react-datepicker {
	background: var(--bg-secondary) !important;
}

.react-datepicker__header {
	background: var(--bg-ternary) !important;
}

.react-datepicker__day {
	color: var(--font-title-color) !important;
}

.react-datepicker__current-month, .react-datepicker-time__header, .react-datepicker-year-header {
	color: var(--font-title-color) !important;
}

.react-datepicker__day-name, .react-datepicker__day, .react-datepicker__time-name {
	color: var(--font-title-color) !important;
}

.react-datepicker__navigation--previous {
	border-right-color: var(--font-title-color) !important;
}

.react-datepicker__navigation--next {
    border-left-color: var(--font-title-color) !important;
}

.react-datepicker__day--disabled,
.react-datepicker__month-text--disabled,
.react-datepicker__quarter-text--disabled {
  cursor: default;
  color: var(--bg-ternary) !important;
}